In [60]:
import os
import struct
import pandas as pd
import numpy as np
import time, datetime
import multiprocessing

In [61]:
def readTdxLdayFile(fname="data/sh000001.day"):
  dataSet=[]
  with open(fname,'rb') as fl:
    buffer=fl.read() #读取数据到缓存
    size=len(buffer) 
    rowSize=32 #通信达day数据，每32个字节一组数据
    code=os.path.basename(fname).replace('.day','')
    for i in range(0,size,rowSize): #步长为32遍历buffer
      row=list( struct.unpack('IIIIIfII',buffer[i:i+rowSize]) )
      row[1]=row[1]/100
      row[2]=row[2]/100
      row[3]=row[3]/100
      row[4]=row[4]/100
      row.pop() #移除最后无意义字段
      row.insert(0,code)
      dataSet.append(row) 
  data=pd.DataFrame(data=dataSet,columns=['code','tradeDate','open','high','low','close','amount','vol'])
  data['date'] = data['tradeDate'].apply(lambda x: datetime.datetime.strptime(str(x),'%Y%m%d').date())
  data=data.set_index(['date']) #.sort_index()
#   data=data.set_index(['date'])
#   data=data.set_index(['date']) #.sort_index()
  return code, data

In [62]:
(_, data) = readTdxLdayFile()
data.head()

,code,tradeDate,open,high,low,close,amount,vol
date,,,,,,,,
1990-12-19,sh000001,19901219,96.05,99.98,95.79,99.98,494000.0,1260
1990-12-20,sh000001,19901220,104.30,104.39,99.98,104.39,84000.0,197
1990-12-21,sh000001,19901221,109.07,109.13,103.73,109.13,16000.0,28
1990-12-24,sh000001,19901224,113.57,114.55,109.13,114.55,31000.0,32
1990-12-25,sh000001,19901225,120.09,120.25,114.55,120.25,6000.0,15

In [63]:
beg_date = data.index[0]

In [64]:
beg_date

datetime.date(1990, 12, 19)

In [65]:
data.loc[beg_date]

code          sh000001
tradeDate     19901219
open             96.05
high             99.98
low              95.79
close            99.98
amount       494000.00
vol               1260
Name: 1990-12-19, dtype: object

In [83]:
today = datetime.datetime.today().date()
data.loc[beg_date]

code         sh000001
tradeDate    19901219
open            96.05
high            99.98
low             95.79
close           99.98
amount         494000
vol              1260
Name: 1990-12-19, dtype: object

In [9]:
end_date = datetime.date(1990,12,31)
end_date

datetime.date(1990, 12, 31)

In [10]:
data

,code,tradeDate,open,high,low,close,amount,vol
date,,,,,,,,
1990-12-19,sh000001,19901219,96.05,99.98,95.79,99.98,4.940000e+05,1260
1990-12-20,sh000001,19901220,104.30,104.39,99.98,104.39,8.400000e+04,197
1990-12-21,sh000001,19901221,109.07,109.13,103.73,109.13,1.600000e+04,28
1990-12-24,sh000001,19901224,113.57,114.55,109.13,114.55,3.100000e+04,32
1990-12-25,sh000001,19901225,120.09,120.25,114.55,120.25,6.000000e+03,15
...,...,...,...,...,...,...,...,...
2021-03-08,sh000001,20210308,3524.98,3542.30,3421.22,3421.41,4.538592e+11,387047954
2021-03-09,sh000001,20210309,3415.34,3429.15,3328.31,3359.29,4.561962e+11,407652539
2021-03-10,sh000001,20210310,3389.84,3397.03,3354.82,3357.74,3.395717e+11,299749166
2021-03-11,sh000001,20210311,3369.90,3436.83,3369.90,3436.83,3.698054e+11,322112044
2021-03-12,sh000001,20210312,3447.20,3454.51,3417.24,3453.08,3.819643e+11,358027035

In [67]:
beg_date = data.index[0]
end_date = datetime.date(1990,12,31)

newdata = data.copy()
while beg_date <= end_date:
    if beg_date in data.index:
        pass
    else:
        print(beg_date)
#         newdata[]
#         data[beg_data]=data[beg_date]
#         print('err')
#     print(data.loc[beg_date])
    beg_date = beg_date + datetime.timedelta(1)
#     if

1990-12-22
1990-12-23
1990-12-29
1990-12-30

In [51]:
d2=data[0:9].copy()
d2

,code,tradeDate,open,high,low,close,amount,vol
date,,,,,,,,
1990-12-19,sh000001,19901219,96.05,99.98,95.79,99.98,494000.0,1260
1990-12-20,sh000001,19901220,104.30,104.39,99.98,104.39,84000.0,197
1990-12-21,sh000001,19901221,109.07,109.13,103.73,109.13,16000.0,28
1990-12-24,sh000001,19901224,113.57,114.55,109.13,114.55,31000.0,32
1990-12-25,sh000001,19901225,120.09,120.25,114.55,120.25,6000.0,15
1990-12-26,sh000001,19901226,125.27,125.27,120.25,125.27,53000.0,100
1990-12-27,sh000001,19901227,125.27,125.28,125.27,125.28,104000.0,66
1990-12-28,sh000001,19901228,126.39,126.45,125.28,126.45,88000.0,108
1990-12-31,sh000001,19901231,126.56,127.61,126.48,127.61,60000.0,78

In [58]:
# d2.at[datetime.date(1990,12,22),'code']='sh111'
ndf = d2.loc[datetime.date(1990,12,21)]
# d2.append(datetime.date(1990,12,22))
ndf['name']='1234'

/home/zjx/anaconda3/envs/qawork/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/home/zjx/anaconda3/envs/qawork/lib/python3.7/site-packages/pandas/core/indexing.py:691: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [59]:
ndf

code         sh000001
tradeDate    19901221
open           109.07
high           109.13
low            103.73
close          109.13
amount       16000.00
vol                28
name             1234
Name: 1990-12-21, dtype: object

In [46]:
ndf.index['name']=datetime.date(1990,12,22)

TypeError: Index does not support mutable operations

In [ ]:
data=data.set_index(['tradeDate'])

In [17]:
df=datetime.datetime.strptime(str(data.index[0]),'%Y%m%d').date()

In [18]:
type(df)

datetime.date

In [13]:
type(data.index[0])

numpy.int64

In [12]:
data.index[19901219]

IndexError: single positional indexer is out-of-bounds